p {
    margin: 0px auto;
    color: #354649;
    font-weight: bold;
}

p.skills-content {
    margin: 0px auto;
    color: #E0E7E9;
    font-weight: bold;
}

hr {
    border: 1px solid #E0E7E9;
    background-color: #E0E7E9;
}

a .fab {
    color: #6c757d;
}

a .fab:hover {
    color: #E0E7E9;
}

a .fa {
    color: #354649;
}

a .fa:hover {
    color: #E0E7E9;
}

body {
    position: relative;
    padding-top: 100px;
    overflow-y: scroll;
    background-color: #6C7A89;
    font-family: Microsoft JhengHei;
}

img {
    border: 3px solid #898a8a;
    border-radius: 200px;
}

.rectangle {
    height: 360px;
    width: 300px;
    background-color: #354649;
}

.img-align {
    text-align: center;
    margin-top: 30px;
}

.text-align {
    margin-left: 80px;
    text-align: left;
}

.content-align {
    margin-top: 70px;
    margin-left: 80px;
    text-align: left;
}

.text-newline {
    width: 680px;
    word-break: break-all;
    word-wrap: break-word;
}

.rectangle-content {
    height: 360px;
    width: 75%;
    max-width: 800px;
    background-color: #A3C6C4;
}

::-webkit-scrollbar {
    display: none;
}

h3 {
    color: #354649;
}

h4 {
    color: #E0E7E9;
}

h5 {
    color: #A3C6C4;
    font-weight: bold;
}

.timeline h5 {
    color: #354649;
    font-weight: bold;
}

h6 {
    color: #A3C6C4;
    font-weight: bold;
}

.timeline h6 {
    color: #354649;
    font-weight: normal;
}

.timeline p {
    font-weight: normal;
}

* {
    box-sizing: border-box;
}


/* The actual timeline (the vertical ruler) */

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}


/* The actual timeline (the vertical ruler) */

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #E0E7E9;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}


/* Container around content */

.time-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}


/* The circles on the timeline */

.time-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12px;
    background-color: #E0E7E9;
    border: 5px solid #BDB76B;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}


/* Place the container to the left */

.left {
    left: 0;
}


/* Place the container to the right */

.right {
    left: 50%;
}


/* Add arrows to the left container (pointing right) */

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #A3C6C4;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #A3C6C4;
}


/* Add arrows to the right container (pointing left) */

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #A3C6C4;
    border-width: 10px 10px 10px 0;
    border-color: transparent #A3C6C4 transparent transparent;
}


/* Fix the circle for containers on the right side */

.right::after {
    left: -13px;
}


/* The actual content */

.time-content {
    padding: 20px 30px;
    background-color: #A3C6C4;
    position: relative;
    border-radius: 6px;
}


/* Media queries - Responsive timeline on screens less than 600px wide */

@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }
    /* Full-width containers */
    .time-container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    /* Make sure that all arrows are pointing leftwards */
    .time-container::before {
        left: 60px;
        border: medium solid #A3C6C4;
        border-width: 10px 10px 10px 0;
        border-color: transparent #A3C6C4 transparent transparent;
    }
    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }
    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
    .rectangle-content {
        height: 500px;
        width: 300px;
        max-width: 300px;
        background-color: #A3C6C4;
        overflow-y: scroll;
    }
    .text-newline {
        width: 160px;
        word-break: break-all;
        word-wrap: break-word;
        overflow-y: scroll;
    }
}